<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inexo Plast</title>
        <meta content="Abdurahmon Rashidov" name="author">
        <meta content="Nurullo Salaydinov" name="author">
        <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <header>
            <nav class="navbar container">
                <a href="#" class="navbar-brand">
                    <img src="/static/img/logo.svg" alt="">
                </a>
                <div class="navbar-links" id="navbarMenu">
                    <a href="#portfolio">PORTFOLIO</a>
                    <a href="#aboutus">BIZ HAQIMIZDA</a>
                    <a href="#products">TOVARLAR</a>
                    <a href="#contact">ALOQA</a>
                </div>
                <div class="contact-number" id="contact-num">
                    <h4>
                        <span class="place-underline">Namangan</span>
                        <a href="tel:+998945909797" class="navbar-tel text-red">+998 (94) 590-97-97</a>
                    </h4>
                </div>
                <div class="navbar-burger" id="navbarBurger">
                    <span></span>
                    <span></span>
                </div>
            </nav>

            <div class="banner container my-3">
                <div class="divided-two">
                    <h1 class="text-3xl">Zamonaviy turdagi mustahkam <span class="text-red">plastik profillar</span>
                        ishlab chiqarish.</h1>
                    <a href="#contact" class="contact-btn">Bog'lanish</a>
                </div>
                <div class="image-grid">
                    <img src="/static/img/banner-1.png" class="banner-image" alt="">
                    <img src="/static/img/banner-2.png" class="banner-image" alt="">
                    <img src="/static/img/banner-3.png" class="banner-image" alt="">
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="wrapper" id="aboutus">
                    <img width="120px" class="question-mark-image" src="/static/img/question-mark.svg" alt="">
                    <h1 class="text-3xl">Nega endi <span class="text-red">plastik profillarni</span> aynan bizdan
                        buyurtma qilishingiz kerak ?</h1>
                </div>
                <div class="main-grid-3 my-3">
                    <!-- card -->
                    <div class="card">
                        <img src="/static/img/icon/offer-1.svg" alt="">
                        <h3>Yuqori sifatli xomashyolar</h3>
                        <p>Biz barcha mahsulotlarimizni yuqori sifatli xomashyolardan tayyorlaymiz. Bu o’z navbatida
                            ko’p yillar hizmat qiluvchi mahsulot degani. Mahsulotlarimiz sifati biz uchun barcha
                            narsadan ustun hisoblanadi.</p>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="card">
                        <img src="/static/img/icon/offer-2.svg" alt="">
                        <h3>Yirik qurilish korxonlari bilan
                            hamkorlik qilamiz</h3>
                        <p>Vodiydagi yirik qurilish korxonalari va ko’p qavatli uylar qurivchi tashkilotlar bilan
                            hamkorlikda ish olib boramiz. Bizning mahsulotlar O’zbekiston bozorida o’z o’rniga. </p>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="card">
                        <img src="/static/img/icon/offer-3.svg" alt="">
                        <h3>Hamyonbop narxlar</h3>
                        <p>Mijozlarimiz uchun yuqori sifat bilan bir vaqtni o’zida biz hamyonbop narxlarni taklif
                            qilamiz. Bizning mahsulotlar bozordagi boshqa mahsulotlar narxlaridan arzon va sifat
                            borasida ulardan ustunliklari talaygina.</p>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="card">
                        <img src="/static/img/icon/offer-4.svg" alt="">
                        <h3>Hamkorlikdagi qulaylik
                            va manfaatlar</h3>
                        <p>Bepul o’rnatilishi kerak bo’lgan deraza romlari uchun ketadigan summani hisoblab beramiz va
                            40 yildan ortiq xizmat qiluvchi profillar bilan ta’minlaymiz. Kerak bo’lganida
                            maslahatimizni ayamaymiz.</p>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="card">
                        <img src="/static/img/icon/offer-5.svg" alt="">
                        <h3>Faqat sinalgan va tajribali odamlardan iborat jamoa</h3>
                        <p>Profil ishlab chiqarishda va plastik romlar tayyorlashda ko’p yillik tajribaga ega
                            mutaxasislar jamoasi</p>
                    </div>
                    <!-- end card -->
                    <!-- card -->
                    <div class="card">
                        <img src="/static/img/icon/offer-6.svg" alt="">
                        <h3>Buyurtmalar o’z vaqtida !</h3>
                        <p>Mijozlar talabi va belgilangan vaqtlarga amal qilish jamoamiz maqsadi hisoblanadi. Biz
                            sizning buyurtmangizni o’z vaqtida bajarilishiga harakat qilamiz</p>
                    </div>
                    <!-- end card -->
                </div>
                <div class="products my-3" id="products">
                    <h1 class="text-3xl">Bizning mahsulotlar</h1>

                    <h3 class="text-red mt-3 font-light">Biz sifatli xomashyodan tayyorlanadigan va ko’p bosqichli qayta
                        ishlovdan o’tadigan quyidagi mahsulotlarni sizga taklif qilamiz.</h5>

                        <div class="main-flex-2 column-reverse">

                            <div class="slider" id="slider1">

                                <div class="slider-wrapper">

                                    <div class="slider-slide">
                                        <img src="/static/img/slider/slider-1.png" alt="">
                                    </div>

                                    <div class="slider-slide">
                                        <img src="/static/img/slider/slider-1.png" alt="">
                                    </div>

                                    <div class="slider-slide">
                                        <img src="/static/img/slider/slider-1.png" alt="">
                                    </div>

                                </div>

                                <div class="controller">
                                    <div class="prev disabled">
                                        <svg width="9" height="19" viewBox="0 0 9 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 1L1 9.5L8 18" stroke="#A6A6A6" />
                                        </svg>
                                    </div>
                                    <div class="next">
                                        <svg width="9" height="19" viewBox="0 0 9 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1L8 9.5L1 18" stroke="white" />
                                        </svg>
                                    </div>
                                </div>

                            </div>
                            <div class="text-content">
                                <h1 class="text-3xl">6000 PVC PLAST</h1>
                                <p class="mt-3 text-gray">Komfort klassidagi devor qalinligi 2.2mm ga teng 4 kamerali
                                    profillar</p>
                                <ul class="text-gray">
                                    <li>Devor qalinligi 2.2mm</li>
                                    <li>Kameralari 4 ta </li>
                                    <li>Oq rangda mavjud</li>
                                </ul>
                            </div>
                        </div>

                        <div class="main-flex-2 my-6">

                            <div class="text-content">

                                <h1 class="text-3xl">5200 PVC PLAST</h1>

                                <p class="mt-3 text-gray">2.2mm profil devor qalinligiga ega, 3 kameradan iborat bo’lib
                                    keng ko’lamda qo’llanuvchi profil hisoblanadi. Kichik uylardan tortib yirik savdo va
                                    sanoat komplekslari uchun mos keladi. </p>

                                <ul class="text-gray">
                                    <li>Devor qalinligi 2.2mm</li>
                                    <li>Kameralari 3 ta </li>
                                    <li>Laminatsiyalangan turli ranglarda mavjud</li>
                                </ul>

                            </div>

                            <div class="slider" id="slider2">

                                <div class="slider-wrapper">

                                    <div class="slider-slide">
                                        <img src="/static/img/slider/slider-2.png" alt="">
                                    </div>

                                    <div class="slider-slide">
                                        <img src="/static/img/slider/slider-2.png" alt="">
                                    </div>

                                    <div class="slider-slide">
                                        <img src="/static/img/slider/slider-2.png" alt="">
                                    </div>

                                </div>
                                <div class="controller">
                                    <div class="prev disabled">
                                        <svg width="9" height="19" viewBox="0 0 9 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 1L1 9.5L8 18" stroke="#A6A6A6" />
                                        </svg>
                                    </div>
                                    <div class="next">
                                        <svg width="9" height="19" viewBox="0 0 9 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 1L8 9.5L1 18" stroke="white" />
                                        </svg>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
            <div class="centre-content">
                <div class="container">
                    <h1 class="text-3xl mobile-visible">QURUVCHILAR UCHUN MAXSUS TAKLIF</h1>
                </div>
                <div class="container offer-wrapper">
                    <div>
                        <img src="/static/img/large-home.png" width="100%" alt="">
                    </div>
                    <div class="offer-text">
                        <h1 class="text-3xl mobile-hidden">QURUVCHILAR UCHUN MAXSUS TAKLIF</h1>
                        <p>
                            Agarda siz ko’p qavatli uylar, binolar qurish bilan shug’illansangiz u holda bizda siz uchun
                            alohida taklif bor !
                        </p>
                        <p>
                            Mahsulotlarimizni kelishilgan narxlarda, o’z vaqtida , rom va boshqa ko’rishlarda yetkazib
                            berishimiz mumkin.
                        </p>
                        <p>
                            Bizdagi sifat va narxlarning arzonligi sizni befarq qoldirmaydi !
                        </p>
                        <a href="#contact" class="contact-btn-light">Bog'lanish</a>
                    </div>
                </div>
            </div>
            <div class="container my-3" id="portfolio">
                <h1 class="text-3xl">Bizning mahsulotlar ishlaridan<br>namunalar</h1>
                <div class="mobile-slider" id="mobileSlider">
                    <div class="main-grid-3 my-3" id="mob-wrapper">
                        <div class="image-animation">
                            <img src="/static/img/home/home-1.png" onclick="ResizeImage(this.src)" width="100%" alt="">
                        </div>
                        <div class="image-animation">
                            <img src="/static/img/home/home-2.png" onclick="ResizeImage(this.src)" width="100%" alt="">
                        </div>
                        <div class="image-animation">
                            <img src="/static/img/home/home-3.png" onclick="ResizeImage(this.src)" width="100%" alt="">
                        </div>
                        <div class="image-animation">
                            <img src="/static/img/home/home-4.png" onclick="ResizeImage(this.src)" width="100%" alt="">
                        </div>
                        <div class="image-animation">
                            <img src="/static/img/home/home-5.png" onclick="ResizeImage(this.src)" width="100%" alt="">
                        </div>
                        <div class="image-animation">
                            <img src="/static/img/home/home-6.png" onclick="ResizeImage(this.src)" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container my-3">
                <h1 class="text-3xl">Aloqa</h1>
                <h3 class="mt-3 text-red font-medium">Biz bilan bog’lanmoqchimisiz ? Biz sizga o’zimiz <br>telefon
                    qilamiz.</h3>
                <div class="twin-wrapper">
                    <div>
                        <h3 class="text-gray font-medium">Asosiy raqamimiz :</h3>
                        <h3 class="font-bolder">
                            <a href="tel:+998945909797" class="text-red">+998 (94) 590-97-97</a>
                        </h3>
                    </div>
                    <div>
                        <h3 class="text-red font-medium">Xabar almashish uchun pochtamiz :</h3>
                        <h3 class="font-medium">
                            <a href="mailto:inexoplast@gmail.com"
                                class="text-red is-smaller-mobile">inexoplast@gmail.com</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="centre-content">
                <div class="container offer-wrapper">
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6013.482115305319!2d72.030509!3d41.096504!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x93cd3a7ab0b49af2!2zNDHCsDA1JzQ3LjQiTiA3MsKwMDEnNDkuOCJF!5e0!3m2!1sen!2s!4v1660914512363!5m2!1sen!2s"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <h4>Manzilimiz :</h4>
                        <h2 class="mt-3">Namangan, Uychi tumani , Yengiyer MFY , Kichik sanoat zonasi</h1>
                            <h4 class="mt-3">Ish vaqtlari :</h3>
                                <h2 class="mt-3">dush-shan 08:00 dan 20:00 gacha
                                    yakshanba dam olish kuni</h2>
                    </div>
                </div>
            </div>
            <div class="container my-3">
                <center>
                    <form method="post" id="contact">
                        {% csrf_token %}
                        <div class="form-title my-3">
                            <h1 class="text-3xl">Qong’iroq buyurtma qiling</h1>
                            <h3>Biz bilan bog’lanishni istasangiz quyidagi formani to’ldiring.</h3>
                        </div>
                        {% for message in messages %}
                        <div class="alert" role="alert">
                            {{ message }}
                            <button onclick="this.parentElement.style.display = 'none'" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        <div class="form-input">
                            <input type="text" name="name" placeholder="Ism" required>
                        </div>
                        <div class="form-input">
                            <input type="text" name="phone" placeholder="Telefon"
                                pattern="[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}" required>
                        </div>
                        <div class="form-input">
                            <input type="text" name="city" placeholder="Shahar" required>
                        </div>
                        <div class="form-input form-select">
                            <input type="date" name="date" placeholder="Sana" required>
                            <select name="time" required>
                                <option selected disabled>Vaqt</option>
                                <option value="08:00 - 11:00">08:00 - 11:00</option>
                                <option value="13:00 - 16:00">13:00 - 16:00</option>
                                <option value="17:00 - 20:00">17:00 - 20:00</option>
                            </select>
                        </div>
                        <p class="my-3">
                            <b>Diqqat!</b> Barcha maydonlar to’ldirilishi shart.<br>
                            Ushbu ma’lumotlar faqat hodimlarimiz siz bilan<br>
                            bog’lanishlari uchun ishlatiladi.
                        </p>
                        <button class="form-btn">Buyurtma qoldirish</button>
                    </form>
                </center>
            </div>
        </main>
        <footer>
            <div class="container footer-wrapper">
                <div>
                    <img src="/static/img/logo.svg" alt="">
                    <p class="mt-3 is-size-smaller text-gray">Biz har qanday murakkablikdagi deraza romlari uchun
                        plastik profillarni ishlab chiqaramiz</p>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="#aboutus">Biz haqimizda</a>
                        </li>
                        <li>
                            <a href="#products">Tovarlar</a>
                        </li>
                        <li>
                            <a href="#contact">Aloqa</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="/static/img/icon/telegram.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/icon/whatsapp.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/static/img/icon/instagram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img src="/static/img/icon/clock.svg" alt="">
                    <p class="mt-3">DU-SHAN 08:00-20:00 YAK Dam olish kuni</p>
                </div>
            </div>
            <center class="mt-3 text-gray">Inexo Plast | Abdurahmon Rashidov 2022</center>
        </footer>

        <script src="/static/js/app.js"></script>
    </body>

</html>
